img {
	max-height: 60px;
}

.jumbotron {
	height: auto;
	padding: 0 !important;
	margin-top: 60px;
	background-size: auto; 
	background-color: transparent;
	position: relative;
}

video {
    width: 100%;    
    height: auto;
}
