body {
	font-family: 'Rubik', sans-serif !important;
}

.container-fluid {
	border: none !important;
	min-height: 80px;
}

img.navbar-brand {
	height: 80px;
}

.jumbotron {
	height: auto;
	padding: 0 !important;
	margin-top: 60px;
	background-size: auto; 
	background-color: #ffffff;
	position: relative;
}

video {
    width: 100%;    
    height: auto;
}

/* .text-center {
	position: relative;
	bottom: 550px;
} */

header {
	color: #ffffff;
	position: absolute;
	top: 150px;
}

h1, h2 {
	font-family: 'Rubik', sans-serif !important;
	font-weight: 700 !important;
}

a {
	color: #c54c46 !important;
}
